extends layout 

block content 

  div.flex-container
    if message_list
      each message in message_list 
        div.message-container
          div.message-top
            span.message-title= message.title
            span= message.date_format
          hr
          p= message.text
          hr
          div.message-bottom
            if currentUser
              if currentUser.member_status || currentUser.admin_status
                span By: #{message.creator.first_name}
              else 
                span By: Unknown!
            else 
              span By: Unknown!
            
            if currentUser && currentUser.admin_status
              a(href=`/messages/${message._id}/delete`) Delete Message


    
    else 
      p There are no messages